<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
    {% block header_link %}{% endblock %}
</head>
<body>
{% block content %}

{% block header %}{% endblock %}
<div class="row">
{% block main %}{% endblock %}
{% block main-content %}{% endblock %}
</div>
{% endblock %}


{% block footer_js %}{% endblock %}


    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/local.js"></script>
</body>
</html>
