{% extends "base.html" %}

{% block title %}lottery{% endblock %}

{% block content %}
  {% block header %}
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">lottery</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">lottery</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav nav-tabs ">
          
        <li><a href="#zhixuan">直选走势</a></li>
        <li><a href="#zuxuan">组选走势</a></li>
        <li><a href="#daxiao">大小走势</a></li>
        <li><a href="#jiou">奇偶走势</a></li>
        <li><a href="#zhihe">质和走势</a></li>
        <li><a href="#chusan">除三余数</a></li>
        <li><a href="#hezhi">和值走势</a></li>
        <li><a href="#kuadu">跨度走势</a></li>
        <li><a href="#leixing">类型走势</a></li>
        <li><a href="#lengre">冷热分析</a></li>
        </ul>
      </div>
    </div>
  </nav>
  {% endblock %}
  {% block main %}

  <div class="col-md-3">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>期号</th>
          <th>数字1</th>
          <th>数字2</th>
          <th>数字3</th>
        </tr>
      </thead>
      <tbody>
        {% for num in nums %}
        <tr>
          <td class = 'circle'>{{ num.turn }}</td>
          <td>{{ num.num1 }}</td>
          <td>{{ num.num2 }}</td>
          <td>{{ num.num3 }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="col-md-8 col-md-offset-1">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>百位</th>
          <th>十位</th>
          <th>个位</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <table class="table">
            <tr>
              <td>0</td>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
              <td>5</td>
              <td>6</td>
              <td>7</td>
              <td>8</td>
              <td>9</td>
            </tr>
            </table>
          </td>
          <td>
            <table class="table">
            <tr>
              <td>0</td>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
              <td>5</td>
              <td>6</td>
              <td>7</td>
              <td>8</td>
              <td>9</td>
            </tr>
            </table>
          </td>
          <td>
            <table class="table">
            <tr>
              <td>0</td>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
              <td>5</td>
              <td>6</td>
              <td>7</td>
              <td>8</td>
              <td>9</td>
            </tr>
            </table>
          </td>
        </tr>
        <!-- {% for num in nums %}
        <tr>
          <td class = 'circle'>{{ num.turn }}</td>
          <td>{{ num.num1 }}</td>
          <td>{{ num.num2 }}</td>
          <td>{{ num.num3 }}</td>
        </tr>
        {% endfor %}
       -->
     </tbody>
    </table>
  </div>




  {% endblock %}
{% endblock %}