{% extends "base.html" %}

{% block title %}lottery{% endblock %}

{% block content %}
  {% block header %}
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">lottery</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">lottery</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav nav-tabs ">
          
        <li><a href="#zhixuan">直选走势</a></li>
        <li><a href="#zuxuan">组选走势</a></li>
        <li><a href="#daxiao">大小走势</a></li>
        <li><a href="#jiou">奇偶走势</a></li>
        <li><a href="#zhihe">质和走势</a></li>
        <li><a href="#chusan">除三余数</a></li>
        <li><a href="#hezhi">和值走势</a></li>
        <li><a href="#kuadu">跨度走势</a></li>
        <li><a href="#leixing">类型走势</a></li>
        <li><a href="#lengre">冷热分析</a></li>
        </ul>
      </div>
    </div>
  </nav>
  {% endblock %}
  {% block main %}

  <div class="col-md-11 ">
    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th rowspan="2">期号</th>
          <th rowspan="2" colspan="3">号码</th>
          <th colspan="10">百位</th>
          <th colspan="10">十位</th>
          <th colspan="10">个位</th>
        </tr>
        <tr>
          <th>0</th>
          <th>1</th>
          <th>2</th>
          <th>3</th>
          <th>4</th>
          <th>5</th>
          <th>6</th>
          <th>7</th>
          <th>8</th>
          <th>9</th>
          <th>0</th>
          <th>1</th>
          <th>2</th>
          <th>3</th>
          <th>4</th>
          <th>5</th>
          <th>6</th>
          <th>7</th>
          <th>8</th>
          <th>9</th>
          <th>0</th>
          <th>1</th>
          <th>2</th>
          <th>3</th>
          <th>4</th>
          <th>5</th>
          <th>6</th>
          <th>7</th>
          <th>8</th>
          <th>9</th>
        </tr>
      </thead>
      <tbody>
        {% for num in nums %}
        <tr>
          <td>{{ num.turn }}</td>
          <td>{{ num.num1 }}</td>
          <td>{{ num.num2 }}</td>
          <td>{{ num.num3 }}</td>
          {% for i in loop_times %}
            {% ifequal num.num1 forloop.counter0 %}
            <td class="interval">{{ num.num1 }}</td>
            {% else %}
            <td> </td>
            {% endifequal %}
          {% endfor %}
          {% for i in loop_times %}
            {% ifequal num.num2 forloop.counter0 %}
            <td>{{ num.num2 }}</td>
            {% else %}
            <td> </td>
            {% endifequal %}
          {% endfor %}
          {% for i in loop_times %}
            {% ifequal num.num3 forloop.counter0 %}
            <td>{{ num.num3 }}</td>
            {% else %}
            <td> </td>
            {% endifequal %}
          {% endfor %}
        </tr>
        
        {% endfor %}

        <!-- {% for num in nums %}
        <tr>
          <td class = 'circle'>{{ num.turn }}</td>
          <td>{{ num.num1 }}</td>
          <td>{{ num.num2 }}</td>
          <td>{{ num.num3 }}</td>
        </tr>
        {% endfor %}
       -->
     </tbody>
    </table>
  </div>




  {% endblock %}
{% endblock %}