table>thead>tr>th,table>tbody>tr>td {
    text-align: center;
    white-space: nowrap;
}


.border_right {
    border-right:2px solid lightGrey;
}

.interval {
    color:lightgrey;
}

.tr_th {
    background-color: #dff3ff;
    text-align:center;
}


.num3d {
    height: 20px;
    width: 20px;
    background:rgb(183,30,28);
    text-align: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;

    display: box;
    display: -webkit-box;
    display: -moz-box;
    
    box-orient: horizontal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    
    -webkit-box-pack: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -moz-box-pack: center;
    box-pack: center;
    box-align: center; 
            

    font:normal 10px/100% Arial;
    color:white;
}

.chart_table_td {
    line-height: 20px;
    border: 1px solid lightGrey;
}

