.chart_table_td {
    line-height: 20px;
    border: 1px solid lightGrey;
}

.ball_t1 {
    background: white url(../../../images/js/chart_table/ball/t1.png) no-repeat center center;
    text-align: center;
    color: white;
    font-weight: bold;
}

.ball_t2 {
    background: white url(../../../images/js/chart_table/ball/t2.png) no-repeat center center;
    text-align: center;
    color: white;
    font-weight: bold;
}

.ball_t3 {
    background: white url(../../../images/js/chart_table/ball/t3.png) no-repeat center center;
    text-align: center;
    color: white;
    font-weight: bold;
}

.ball_t4 {
    background: white url(../../../images/js/chart_table/ball/t4.png) no-repeat center center;
    text-align: center;
    color: white;
    font-weight: bold;
}

.ball_t5 {
    background: white url(../../../images/js/chart_table/ball/t5.png) no-repeat center center;
    text-align: center;
    color: white;
    font-weight: bold;
}

.ball_t6 {
    background: white url(../../../images/js/chart_table/ball/t6.png) no-repeat center center;
    text-align: center;
    color: white;
    font-weight: bold;
}

.ball_t7 {
    background: white url(../../../images/js/chart_table/ball/t7.png) no-repeat center center;
    text-align: center;
    color: white;
    font-weight: bold;
}

.ball_t8 {
    background: white url(../../../images/js/chart_table/ball/t8.png) no-repeat center center;
    text-align: center;
    color: white;
    font-weight: bold;
}

.ball_t9 {
    background: white url(../../../images/js/chart_table/ball/t9.png) no-repeat center center;
    text-align: center;
    color: white;
    font-weight: bold;
}


.circle {
height: 100px;
width: 100px;
background: #fff;
border:20px solid black;
border-radius: 100%;
}
